<div class="container" style="margin-top: 1rem">
  <div class="row">
    <div class="col-1"></div>
    <div class="col">
      <h1>IT Conference Joining Form</h1>
      <form
        [formGroup]="joiningForm"
        class="row g-2 needs-validation"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="jnf-first-name"
            placeholder=""
            formControlName="firstName"
            appShowError
            [appformControl]="joiningForm.controls.firstName"
          />
          <label for="jnf-first-name">First Name</label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="jnf-last-name"
            placeholder=""
            formControlName="lastName"
          />
          <label for="jnf-last-name">Last Name</label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="jnf-email-address"
            placeholder=""
            formControlName="email"
          />
          <label for="jnf-email-address">Email Address</label>
        </div>
        <div class="form-floating">
          <input
            type="tel"
            class="form-control"
            id="jnf-phone-number"
            placeholder=""
            formControlName="phone"
          />
          <label for="jnf-phone-number">Phone Number</label>
        </div>
        <div class="form-floating">
          <select
            class="form-select"
            id="jnf-referal-source"
            aria-label="Floating label select example"
            formControlName="referralId"
          >
            <option value="">{{ "Select" }}</option>
            @if(referrals$ | async; as referrals){ @for (referral of referrals;
            track $index) {
            <option [value]="referral.id">{{ referral.name }}</option>
            } }@else {
            <option selected>--</option>
            }
          </select>
          <label for="jnf-referal-source">Referral Source</label>
        </div>
        <div class="form-floating">
          <select
            class="form-select"
            id="jnf-job-role"
            aria-label="Floating label select example"
            formControlName="jobRoleId"
          >
            <option value="">{{ "Select" }}</option>
            @if(jobRoles$ | async; as jobRoles){ @for (jobRole of jobRoles;
            track $index) {
            <option [value]="jobRole.id">{{ jobRole.name }}</option>
            } }@else {
            <option selected>--</option>
            }
          </select>
          <label for="jnf-job-role">Job Roles</label>
        </div>
        <div class="form-floating">
          <select
            class="form-select"
            id="jnf-gender"
            aria-label="Floating label select example"
            formControlName="genderId"
          >
            <option value="">{{ "Select" }}</option>
            @if(genders$ | async; as genders){ @for (gender of genders; track
            $index) {
            <option [value]="gender.id">{{ gender.name }}</option>
            } }@else {
            <option selected>--</option>
            }
          </select>
          <label for="jnf-gender">Gender</label>
        </div>
        <div>
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
      </form>
    </div>
    <div class="col-1"></div>
  </div>
</div>
